/** {*/
/*    -fx-font-family: "Inter";*/
/*    -fx-background-color: #FFFFFF;*/
/*}*/

.root {
    -fx-background-color: #ffffff;
}

/*.header{*/
/*    -fx-background-color: #017FCB;*/
/*}*/

.bg1{
    -fx-background-color: #F9F9F9;
    -fx-background-radius: 15;
}

.bg2{
    -fx-background-color: #F3F3F3;
    -fx-background-radius: 15;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-font-size: 13px;
    -fx-padding: 5px;
    -fx-background-radius: 8px;
    -fx-border-color: #999999;
    -fx-border-radius: 3px;
    -fx-border-width: 0.5px;
}

.text-field:focused {
    -fx-border-color: #2196F3;
    -fx-border-width: 1px;
}

.text-field:disabled {
    -fx-opacity: 1.0;
    -fx-background-color: #F5F5F5;
    -fx-text-fill: #393E46;
}

.lblCustomerInfo{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #017FCB;
    -fx-background-color: transparent;
}

.pane-shadow1 {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 8, 0.3, 0, 2);
    -fx-background-radius: 8;
}

.lblFormCMD{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #017FCB;
    -fx-padding: 5 0 8 10;
    -fx-background-color: transparent;
}

.gridForm{
    -fx-background-color: #FFFFFF;
    -fx-padding: 5 10 15 0;
    -fx-pref-width: 400px;
    -fx-pref-height: 120px;
    -fx-background-radius: 15;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.1, 0, 3);*/
}

.vbox_textField_cst_form{
    -fx-padding: 0 0 0 10;
    /*-fx-pref-height: 20;*/
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-background-color: transparent;
}

.find-textfield {
    -fx-background-radius: 5;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 5;
    -fx-padding: 0 0 0 30;
    -fx-text-fill: #6C6C6C;
}

.icon{
    -fx-fill: #AAAAAA;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #005cb2;
}

.tab-container {
    -fx-tab-min-width: 50px;
}

.tab-pane .tab {
    -fx-background-color: #ECECEC;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1px 0;
    -fx-background-radius: 5 5 0 0;
}

.tab-pane .tab:selected {
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 5 5 0 0;
    -fx-font-weight: bold;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}

.tab-pane .tab:hover {
    -fx-background-color: #F9F9F9;
    -fx-cursor: hand;
}

.tab {
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-padding: 5 15;
}

.hbox-order {
    -fx-spacing: 2px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-radius: 0 0 5 5;
}

.scrollbar {
    -fx-pref-width: 10px;
    -fx-background-color: #F1F1F1;
}

.scrollbar .thumb {
    -fx-background-color: #C1C1C1;
    -fx-background-radius: 5px;
}

.scrollbar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.code-textfield{
    -fx-background-radius: 5;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 5;
    -fx-text-fill: #6C6C6C;
}

.infomoney-label {
    -fx-font-weight: bold;
}

.money-label{
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: #017FCB;
}

.header-box {
    -fx-background-color: transparent;
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.lblCustomerInfo {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #017FCB;
    -fx-background-color: transparent;
}

.btn-fix {
    -fx-background-color: #017FCB;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-fix:hover {
    -fx-background-color: #005cb2;
}
.vbox-invoice-detail{
    -fx-padding: 10 10 10 10;
}