*{
    -main-background-color: #FFFFFF;
}
.root{
    -fx-background-color: -main-background-color;
}
.circle-mask {
    -fx-pref-width: 195;
    -fx-pref-height: 195;
    -fx-background-color: -main-background-color; /* màu che phủ */
    -fx-shape: "M0,0 H195 V195 H0 Z
    M97.5,97.5
    m-92.5,0
    a92.5,92.5 0 1,0 185,0
    a92.5,92.5 0 1,0 -185,0";
}
.fullName-label{
    -fx-text-fill: #017FCB;
    -fx-font-size: 24;
    -fx-font-weight: 700;
}
.role-label{
    -fx-text-fill: #01C4DA;
    -fx-font-size: 15;
    -fx-font-weight: 700;
}
.staffID-label{
    -fx-text-fill: #01C4DA;
    -fx-font-size: 15;
    -fx-font-weight: 400;
}
.main-label{
    -fx-text-fill: #017FCB;
    -fx-font-size: 15;
    -fx-font-weight: 700;
}
.secondary-label{
    -fx-text-fill: #017FCB;
    -fx-font-size: 10;
    -fx-font-weight: 500;
    -fx-padding: 0 0 0 10;
}
.txtField{
    -fx-border-color: #C1BBBB;
    -fx-border-width: 1px;
    -fx-pref-width: 277px;
    -fx-pref-height: 37px;
    -fx-font-size: 12px;
    -fx-text-fill: #017FCB;
    -fx-font-weight: normal;
    -fx-border-radius: 5px;
}
.gridForm{
    -fx-background-color: #FFFFFF;
    -fx-padding: 5 10 15 10;
    /*-fx-pref-width: 400px;*/
    /*-fx-pref-height: 120px;*/
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.1, 0, 0.7);
}
.textField_cst_form{
    -fx-padding: 0 0 0 10;
    /*-fx-pref-height: 20;*/
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-background-color: transparent;
}
.button.crud_func{
    -fx-border-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}
.save-btn{
    -fx-background-color: #FFC534;
}
.icon{
    -fx-fill: #FFFFFF;
}