*{
    -main-background-color: #FFFFFF;
}
.root{
    -fx-background-color: -main-background-color;
}
.circle-mask {
    -fx-pref-width: 195;
    -fx-pref-height: 195;
    -fx-background-color: -main-background-color; /* màu che phủ */
    -fx-shape: "M0,0 H195 V195 H0 Z
    M97.5,97.5
    m-92.5,0
    a92.5,92.5 0 1,0 185,0
    a92.5,92.5 0 1,0 -185,0";
}
.fullName-label{
    -fx-text-fill: #017FCB;
    -fx-font-size: 24;
    -fx-font-weight: 700;
}
.role-label{
    -fx-text-fill: #01C4DA;
    -fx-font-size: 15;
    -fx-font-weight: 700;
}
.staffID-label{
    -fx-text-fill: #01C4DA;
    -fx-font-size: 15;
    -fx-font-weight: 400;
}
.main-label{
    -fx-text-fill: #017FCB;
    -fx-font-size: 16;
    -fx-font-weight: 700;
}
.secondary-label{
    -fx-text-fill: #017FCB;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 10;
}
.gridForm{
    -fx-background-color: #FFFFFF;
    -fx-padding: 5 10 15 10;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.1, 0, 0.7);
}
.textField_cst_form{
    -fx-padding: 0 0 0 10;
    /*-fx-pref-height: 20;*/
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-background-color: transparent;
}
.button.crud_func{
    -fx-border-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}
.save-btn{
    -fx-background-color: #FFC534;
}
.icon{
    -fx-fill: #FFFFFF;
}

.change-btn{
    -fx-background-color: #01C4DA;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-font-size: 13px;
    -fx-padding: 5px;
    -fx-background-radius: 8px;
    -fx-border-color: #999999;
    -fx-border-radius: 3px;
    -fx-border-width: 0.5px;
}

.text-field:focused {
    -fx-border-color: #2196F3;
    -fx-border-width: 1px;
}

.text-field:disabled {
    -fx-opacity: 1.0;
    -fx-background-color: #F5F5F5;
    -fx-text-fill: #393E46;
}
