* {
    -fx-font-family: "Inter";
}

.sidebar-left{
    -fx-background-color: #FFFFFF;
}

.titleLogin{
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #017FCB;
}

.lblHello{
    -fx-font-size: 10px;
    -fx-font-style: italic;
    -fx-text-fill: #6C6C6C;
}

.lbl{
    -fx-font-size: 12px;
    -fx-text-fill: #017FCB;
    -fx-font-weight: bold;
}

.txtField{
    -fx-border-color: #C1BBBB;
    -fx-border-width: 1px;
    -fx-pref-width: 277px;
    -fx-pref-height: 37px;
    -fx-font-size: 12px;
    -fx-text-fill: #017FCB;
    -fx-font-weight: normal;
    -fx-border-radius: 5px;
}

.txtField:focused{
    -fx-border-color: #017FCB;
    -fx-border-width: 1px;
    -fx-font-weight: bold;
}

.eyeIcon{
    -fx-fill: #C1BBBB;
    -fx-cursor: hand;
}

.eyeIcon:hover{
    -fx-fill: #017FCB;
}

.btnLogin {
    -fx-background-color: #FFD467;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-pref-width: 100px;
    -fx-pref-height: 37px;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
}

.btnLogin:hover {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #FFD467;
    -fx-border-width: 1px;
    -fx-border-color: #FFD467;
    -fx-border-radius: 5px;
}

.btnLogin:pressed {
    -fx-background-color: #FF9B34;
    -fx-text-fill: #FFFFFF;
}

.btnLogin:disabled {
    -fx-background-color: #C1BBBB;
}

.linkForgotPassword{
    -fx-text-fill: #017FCB;
    -fx-font-size: 11px;
    -fx-cursor: hand;
    -fx-underline: true;
    -fx-font-style: italic;
}

.error-label {
    -fx-text-fill: #FF0000;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}