.root {
    -fx-background-color: #ffffff;
}

.nav-container{
    -fx-background-color: #017FCB;
}

.user-image{
    -fx-stroke: white;
    -fx-stroke-width: 2;
}

.label-username, .label-name{
    -fx-text-fill: white;
}

.label-username{
    -fx-font-weight: bold;
}

.context-menu .menu-item {
    -fx-cursor: hand;
}

.find-textfield {
    -fx-background-radius: 5;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 5;
    -fx-padding: 0 0 0 30;
    -fx-text-fill: #6C6C6C;
}

.icon{
    -fx-fill: #AAAAAA;
}

.choice-box {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: white;
    -fx-cursor: hand;
}

.hbox-list {
    -fx-spacing: 2px;
    -fx-alignment: CENTER_LEFT;

}

.scroll-pane {
    -fx-background-color: #F9F9F9;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #005cb2;
}

.tab-container {
    -fx-tab-min-width: 50px;
}

.tab-pane .tab {
    -fx-background-color: #ECECEC;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1px 0;
    -fx-background-radius: 5 5 0 0;
}

.tab-pane .tab:selected {
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 5 5 0 0;
    -fx-font-weight: bold;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}

.tab-pane .tab:hover {
    -fx-background-color: #F9F9F9;
    -fx-cursor: hand;
}

.tab {
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-padding: 5 15;
}

.hbox-order {
    -fx-spacing: 2px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-radius: 0 0 5 5;
}

.scrollbar {
    -fx-pref-width: 10px;
    -fx-background-color: #F1F1F1;
}

.scrollbar .thumb {
    -fx-background-color: #C1C1C1;
    -fx-background-radius: 5px;
}

.scrollbar .track {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.code-textfield{
    -fx-background-radius: 5;
    -fx-background-color: #F3F3F3;
    -fx-border-radius: 5;
    -fx-text-fill: #6C6C6C;
}

.infomoney-label {
    -fx-font-weight: bold;
}

.money-label{
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: #017FCB;
}
